#kenburns-slideshow
  position relative
  width 600px
  height 360px
  z-index 1
  overflow hidden

.kb-slide
  position absolute
  z-index 1
  opacity 0
  img
    position relative
    transform translate3d(0,0,0)
    backface-visibility hidden

.loader
  width 32px
  height 32px
  top 6px
  left 550px
  border 5px solid rgba(128,128,128,0.9)
  opacity .9
  border-top 5px solid rgba(0,0,0,0)
  border-left 5px dotted rgba(0,0,0,0)
  border-radius 32px
  animation spin .2s infinite linear

@keyframes spin
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)
      transform rotate(-360deg)


#kenburns-description
  width 600px
  color #999
  height 3em

#kenburns-description
  p
    margin 0
    padding 0
    line-height 18px
    font-size 12px
  a
    color white
    text-decoration none
  &:hover
    color green
    text-decoration none
  &:visited
    color white

.gallery-title
  clear left
  margin 0
  padding 15px 0 0 0

#slide-title
  font-size 1.5em
  color #7085B3
