lfa-framework()
@import 'lightbox.styl'
@import 'kenburns.styl'


.gallery
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  .gallery-image
    max-width: 250px
    background: white
    padding: 0.2em
    margin-bottom: 1em
